@model Lab02_WebsiteQLSach.Models.Book

@{
    ViewBag.Title = "DeleteBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa sách</h2>

<h3>Bạn có chắc chắn muốn xóa sách này?</h3>
<div>
    <h4>Thông tin sách</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagecover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagecover)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở lại", "ListBookModel")
        </div>
    }
</div>
