@model Lab02_WebsiteQLSach.Models.Book

@{
    ViewBag.Title = "DetailsBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết sách</h2>

<div>
    <h4>Thông tin sách</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagecover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagecover)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "EditBook", new { id = Model.Id }) |
    @Html.ActionLink("Trở lại", "ListBookModel")
</p>
