@model Lab3_WebsiteBigSchool.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>

<ul class="course">
    @foreach (var course in Model.UpcomingCourses)
    {
        <li>
            <div class="date">
                <div class="month">
                    @course.DateTime.ToString("MM")
                </div>
                <div class="day">
                    @course.DateTime.ToString("dd")
                </div>
            </div>
            <div class="details">
                <span class="lecturer">
                    <br /> @course.Lecturer.Name
                    @if (course.IsCanceled)
                    {
                        <span class="label label-warning">Canceled</span>
                    }
                    @if (Model.ShowAction && !course.IsCanceled)
                    {
                        <button class="btn btn-default btn-smm js-toggle-follow" data-course-id="@course.LecturerId"> <br /> Follow</button>
                    }

                </span>
                <span class="category">
                    <br />  @course.Category.Name
                </span>
                @*@if (Model.ShowAction)
                {
                    <button data-course-id="@course.Id" class="btn btn-default btn-smm js-toggle-attendance">Going?</button>
                }*@

            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/Attendances", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something failed!!");
                    });
            })

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Something failed!!");
                    });
            })
        });
    </script>
}
